
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chào mừng đến với hệ thống quản lý kí túc xá</h2>

@if (User.Identity.IsAuthenticated)
{
    <a href="/Account/Logout">Logout</a>
}
else
{
    <a href="/Account/Login">Login</a>
}